{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "widnow": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}
